entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["javascript_openai_ai_integrations:2.0.0", "revenuecat:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000

[userenv]

[userenv.shared]
EXPO_PUBLIC_ADMOB_IOS_APP_ID = "ca-app-pub-9292733128508168~8476999896"
EXPO_PUBLIC_ADMOB_ANDROID_APP_ID = "ca-app-pub-9292733128508168~3953499207"
EXPO_PUBLIC_ADMOB_IOS_REWARDED_ID = "ca-app-pub-9292733128508168/2584577219"
EXPO_PUBLIC_ADMOB_ANDROID_REWARDED_ID = "ca-app-pub-9292733128508168/8958413878"
APPLE_TEAM_ID = "T9GD8V3M6C"
APPLE_KEY_ID = "794S8ZUCK6"
APPLE_SERVICE_ID = "com.soulie.loginbaba"
APPLE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
  MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgu8Kyanh5tY+WLwV5
  qoXeiQVpeiD7Rv3+psPmC+wcIpGgCgYIKoZIzj0DAQehRANCAASSph4AcSfqPpgi
  OntFyyqWV+C6Cd6bGM0vgIXt+nbPn7YyZ3S69OiNgpWCmxpQtboVDdzKCn3enK/T
  uiedoH74
  -----END PRIVATE KEY-----"""
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_HVhQUzsxtuWdUunfAhZwYxoPeaT"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_CRcIyqcgwslEwqABqiZDsZxIYXN"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_bqQOYDTfeMPiFUwmusrjPZIuGnf"
REVENUECAT_PROJECT_ID = "proj31377d4e"
REVENUECAT_TEST_STORE_APP_ID = "appb7edbc740f"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app99538fb128"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app6d7d4b50d3"
